<div id="<%= dom_id service %>">
  <p>
    <strong>Descrição:</strong>
    <%= service.description %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= service.price %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= service.client_id %>
  </p>

</div>
