<p style="color: green"><%= notice %></p>

<h1>Clientes</h1>

<%= link_to '<button class="btn btn-primary">Novo Cliente</button>'.html_safe, new_client_path %>

<div id="clients">
  <% @clients.each do |client| %>
    <%= render client %>
    <p>
      <%= link_to '<button class="btn btn-info">Mostrar</button>'.html_safe, client %>
    </p>
  <% end %>
</div>
